{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | OneInch Sensor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="nav-container">

            <div class="nav-links">
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT</a>
            </div>

            <div class="logo">
                <img src="{% static 'images/logo/COMING SOON.png' %}" alt="", class="logo">
            </div>

            <div class="nav-links">
                <a href="portfolio.html">PORTFOLIO</a>
                <a href="contact.html">CONTACT</a>
            </div>

        </div>
    </nav>


    <!-- PAGE HERO -->
    <section class="hero" style="background-image: url('{% static "images/pre-wedding/prewedding10.jpg" %}');">
        <div class="hero-content">
            <h1>Our Work</h1>
        </div>
    </section>


    <!-- PRE WEDDING -->
    <section class="section">
        <h2 class="section-title">Pre Wedding</h2>

        <div class="grid">
            <img src="{% static 'images/pre-wedding/prewedding1.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding2.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding3.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding4.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding5.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding6.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding7.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding8.jpg' %}" alt="">
            <img src="{% static 'images/pre-wedding/prewedding9.jpg' %}" alt="">





        </div>
    </section>


    <!-- CLUB EVENTS -->
    <section class="section" style="background:#181818;">
        <h2 class="section-title">Club Events</h2>

        <div class="grid">
            <img src="{% static 'images/club/club1.jpg' %}" alt="">
            <img src="{% static 'images/club/club2.jpg' %}" alt="">
            <img src="{% static 'images/club/club3.jpg' %}" alt="">
        </div>
    </section>


    <!-- AFTERMOVIE -->


    <!-- PORTRAIT -->
    <section class="section" style="background:#181818;">
        <h2 class="section-title">Portrait</h2>

        <div class="grid">
            <img src="{% static 'images/potraits/potrait1.jpg' %}" alt="">
            <img src="{% static 'images/potraits/potrait2.jpg' %}" alt="">
            <img src="{% static 'images/potraits/potrait3.jpg' %}" alt="">
            <img src="{% static 'images/potraits/potrait4.jpg' %}" alt="">
            <img src="{% static 'images/potraits/potrait5.jpg' %}" alt="">
            <img src="{% static 'images/potraits/potrait6.jpg' %}" alt="">

        </div>
    </section>


    <!-- FOOTER -->
    <section class="section" style="padding:60px 0; font-size:13px; letter-spacing:2px;">
        © 2026 OneInch Sensor — All Rights Reserved
    </section>


    <!-- SCRIPT -->
    <script src="{% static 'script.js' %}"></script>

</body>
</html>